<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Volumes/Mac HDD/Documents/Uni/16 - Sommersemester/Bachelorarbeit/Code/Roc/RocLang/robotcontrol.parent/robotcontrol.feature"/>
</launchConfiguration>
